* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.input {
    height: 100px;
    padding-top: 40px;
    text-align: center;
}

.d-block {
    display: block;
}

.hidden {
    display: none;
}

.approved {
    color: green;
}

.denied {
    color: red;
}

.container {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 100px);
}

.winner {
    width: 20%;
    text-align: center;
}

.side {
    width: 40%;
    text-align: center;
}

.dices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.side i {
    font-size: 70px;
    padding: 10px;
}

.inactive {
    opacity: 0.5;
}

.active {
    opacity: 1;
}