* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.input {
    margin-top: 30px;
    text-align: center;
}

.d-block {
    display: block;
}

.hidden {
    display: none;
}

.approved {
    color: green;
}

.denied {
    color: red;
}